<a href="https://colab.research.google.com/github/Priyo-prog/Movie-Recommendation-using-Boltzmann-Machine/blob/main/Boltzmann_Machine_movie_recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Movie recommendation system using Boltzmann Machine

* Use the data from Movielens to analyze the data on movies https://grouplens.org/datasets/movielens/

* Use Torch Libraries to build a Boltzmann Machine

## Import important libraries

In [2]:
import pandas as pd
import numpy as np
import torch 
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

## Import the data

In [3]:
# Mount the drive amd import the data
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
# Import the dataset
movies = pd.read_csv('/content/drive/MyDrive/Deep Learning/Boltzmann Machine Datasets/ml-1m/movies.dat', 
                     sep='::', header=None, engine='python', encoding='latin-1')

users = pd.read_csv('/content/drive/MyDrive/Deep Learning/Boltzmann Machine Datasets/ml-1m/users.dat',
                    sep = '::', header=None, engine='python', encoding='latin-1')
ratings = pd.read_csv('/content/drive/MyDrive/Deep Learning/Boltzmann Machine Datasets/ml-1m/ratings.dat',
                      sep = '::', header=None, engine='python', encoding='latin-1')

In [5]:
movies.head(5)

   0                                   1                             2
0  1                    Toy Story (1995)   Animation|Children's|Comedy
1  2                      Jumanji (1995)  Adventure|Children's|Fantasy
2  3             Grumpier Old Men (1995)                Comedy|Romance
3  4            Waiting to Exhale (1995)                  Comedy|Drama
4  5  Father of the Bride Part II (1995)                        Comedy

In [7]:
users.head(5)

   0  1   2   3      4
0  1  F   1  10  48067
1  2  M  56  16  70072
2  3  M  25  15  55117
3  4  M  45   7  02460
4  5  M  25  20  55455

In [9]:
ratings.head(5)

   0     1  2          3
0  1  1193  5  978300760
1  1   661  3  978302109
2  1   914  3  978301968
3  1  3408  4  978300275
4  1  2355  5  978824291

## Preparing the training and test set

In [10]:
# Import the training set and convert it to an array
training_set = pd.read_csv('/content/drive/MyDrive/Deep Learning/Boltzmann Machine Datasets/ml-100k/u1.base',
                           delimiter='\t')
training_set = np.array(training_set, dtype='int')

# Import the test set and convert it to array
test_set = pd.read_csv('/content/drive/MyDrive/Deep Learning/Boltzmann Machine Datasets/ml-100k/u1.test',
                       delimiter='\t')
test_set = np.array(test_set, dtype='\t')

training_set.shape, test_set.shape

((79999, 4), (19999, 4))

In [ ]:
# Get the number of users and number of movies